:root {
  --button_primary_background: #522473;
  --text_subhead: #49bdaf;
  --accent: #522473;
  --modal_card_background: #e4f4f3;
  --icon_outline_secondary: #49bdaf;
  --tabbar_active_icon: #522473;
}
